:root {
  --bg-color: rgb(31, 31, 31);
  --active-btn: rgb(222, 222, 200);
  --hover-btn: rgb(242, 253, 167);
  --pressed-btn: rgb(252, 112, 77);
  --disabled-btn: rgb(136, 136, 136);
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: beige;
}

button {
  background-color: rgb(166, 166, 166);
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 4px 6px;
  user-select: none;
  transition: ease-in-out 0.2s;
}

button:hover {
  scale: 1.1;
}

button:active {
  scale: 0.9;
}

#main-btn {
  background-color: var(--active-btn);
}

#main-btn:hover {
  scale: 1.1;
  cursor: pointer;
  background-color: var(--hover-btn);
}

#main-btn:active {
  scale: 0.9;
  background-color: rgb(252, 112, 77);
}

.shop {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;

  label {
    color: rgb(185, 185, 170);
  }

  #buy-str {
    background-color: var(--active-btn);
  }

  #buy-str:hover {
    background-color: var(--hover-btn);
  }

  #buy-str:disabled {
    background-color: rgb(136, 136, 136);
  }
}
