body {
  background-color: rgb(31, 31, 31);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: beige;
}

button {
  background-color: rgb(166, 166, 166);
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 4px 6px;
  user-select: none;
  transition: ease-in-out 0.2s;
}

#main-btn {
  background-color: rgb(222, 222, 200);
}

#main-btn:hover {
  scale: 1.1;
  cursor: pointer;
  background-color: rgb(242, 253, 167);
}

#main-btn:active {
  scale: 0.9;
  background-color: rgb(252, 112, 77);
}
